.sectionBlue {background-color:#CFE9F2;}

.navbar {
    background-color: white !important;
    margin-bottom: 5px !important;
}

.collapse {
    justify-content: flex-end;
}

.navbar {
    font-family: Montserrat, Arial;
    font-size: 28px;
}

a:focus {    
    border-style: solid;
    border-width: 0 0 5px 0 !important;
    border-color: #3BA4C5 !important; 
}

#overview {
    margin-top:5%;
}


h1 {
    color:#3BA4C5;
    font-family: Montserrat;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    letter-spacing:0.02em;
}

p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 182%;
}



.pageHeader {
    padding: 5% 0 5% 0;
    text-align: center;
}

.content {
    padding: 0% 10% 3% 10%;
}

.justifyCenter{
    display:flex; 
    justify-content: center !important;
}

.textCenter {
    text-align: center;
}

.figure-caption {
    font-style: italic;
}

.paddingTop {
    padding: 5% 0 0 0;
}

.sectionHeader {
    padding: 5% 0 2% 10%;
}


.headsUp {   
    display: flex;
    margin-left:10%;
    margin-right:10%;

}

.bubble {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    padding:2% 2% 2% 2%;
    margin-right: 10px;
    margin-left: 10px;

    display:flex;
    align-items: center;   
}

.bubbleBlue {
    background-color:#CFE9F2 !important;
}

.bubbleTop {
    padding-top: 5% !important;
    
}

.bubbleBottom {
    padding-bottom: 5% !important;
}

.bubbleRight {
    justify-content: flex-end;
}

.bubbleLeft {
    justify-content: flex-start;

}

.bubbleText {
    line-height:100%;    
    
    

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    letter-spacing:0.02em;
}

.speaker {
    display:flex;
    align-items: center;
}

.userResearch {
    padding-bottom: 0 !important;
}



.testQs {
    display: flex;
    justify-content: center;
    height: 50%;
           
}

.testBubble {
    background-color:#3BA4C5;
    border-radius: 50%;
    padding: 5% 5% 0 5%;
    width: 250px;
    min-width: 250px;
    height: 250px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color:white;
}

.testQs {}





.cADots {
    padding: 2% 0 2% 0;
}

.personaGrid {
    padding-left: 10% !important;
    margin-left: 0% !important; 
}

.journeyText {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}

.journeyGraph {
    padding-left: 10%;
    padding-right: 10%; 
    padding-bottom: 2%;  
}

.comic {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardSort {
    display:flex;
    padding-right:10%;
    padding-bottom: 5%;
}

.cardSortText {
    width: 50%;
}

.protoGrid {
    margin-left: 0% !important;
    margin-right: 0% !important;
    width: 80% !important;
    padding-left: 10%;
    padding-right:10%;
    padding-bottom: 5%;
    display:flex;
    justify-content: center;
}

.protoGraph {
    padding-left:10%;
    padding-right:10%;

}
